    <%-include("header")-%>
        <div class="box" id="heading">
    <h1>
        <%= day %>
    </h1>
    </div>

    <div class="box">
       
        <% for(var i=0 ; i<k.length ; i++){ %>
            <form action="/delete" method="post">
            <div class="item">
            <input type="checkbox" onclick="this.form.submit()" name="checkbox" value="<%=k[i]._id+" "+day%>">
               <p> <%= k[i].name%> </p>
            </div>
            </form>
            <% } %>
                <form class="item" action="/" method="post">
                    <input type="text" name="nextItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="List" value= <%=day%> >+</button>
                </form>
    
    </div>
    <%-include("footer")-%>
