    <%-include("header")-%>
        <div class="box" id="heading">
    <h1>
        <%= day %>
    </h1>
    </div>

    <div class="box">
       
        <% for(var i=0 ; i<k.length ; i++){ %>
            <div class="item">
            <input type="checkbox">
               <p> <%= k[i]%> </p>
            </div>
            <% } %>
                <form class="item" action="/" method="post">
                    <input type="text" name="nextItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="List" value= <%=day%> >+</button>
                </form>
    
    </div>
    <%-include("footer")-%>
